@import "App.css";

.staticLeft {
    background-color: var(--dark-blue);
    left: 0;
    width: 35%;
    color: var(--white);
    overflow: hidden;
}

.nicole {
    padding-right: 0.5em;
    color: var(--grey-white);
}

.streltsov {
    color: var(--light-blue);
}

.uoft-logo {
    max-width: 100%;
    margin-right: 0.2em;
}

.school {
    margin-top: 2em;
    display: flex;
    align-items: center;
}

.school p {
    font-size: 0.8em;
    height: 100%;
}

.school a {
    width: 18%;
}

.sketch {
    max-width: 70%;
}

.skills {
    margin: 4em auto;
    font-size: 0.8em;
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.tab {
    background-color: var(--light-blue);
    border-radius: 1em;
    display: inline;
    padding: 0.5em 1em;
    margin: 0.2em 0.6em;
}

.social-links img {
    width: 5%;
    color: white;
    margin: 0 0.5em;
}

.social-links .devpost, .envelope{
    width: 5.5%;  
}